<div *ngIf="nickname">
<div style="background: paleturquoise">
  <p>chat works YaaaY!</p>

  <label>
  Message:
  <input type="text" [formControl]="message">
</label>

<h5> msg:{{message.value | json}}</h5>


<button (click)="sendMessage()">Send Message</button>

<h4 *ngFor="let message of messages">
 Here: {{message}}
</h4>

</div>
</div>
<div *ngIf="!nickname">
  <div style="background: paleturquoise">
    <p>chat works YaaaY!</p>

    <label>
      Enter Nickname:
      <input type="text" [formControl]="nickNameFC">
    </label>
    <h5> msg:{{message.value | json}}</h5>

    <button (click)="sendNickname()">Send Message</button>

  </div>
</div>
