<div *ngIf="error$ | async as error" style="color: darkred">
  {{error}}
</div>
<!--<div *ngIf="!socketId" style="color: darkred">
  You are not connected!
</div> -->

<div *ngIf="chatClient">
  <div style="background: paleturquoise">
  <p>chat works YaaaY!</p>
  <label>
  Message:
  <input type="text" [formControl]="messageFC">
</label>

<button (click)="sendMessage()">Send Message</button>
    <h5> msg:{{messageFC.value | json}}</h5>
<h5 *ngIf="clientsTyping.length > 0"
    style="color: lightslategray">
  Clients Typing:
  <span *ngFor="let clients of clientsTyping; let i = index">
    {{clients.nickname}}
    <span *ngIf="clientsTyping.length - 1 > i">is typing ...</span>
  </span>
</h5>

 </div>
  <h4 *ngFor="let chatMessage of messages">
    User {{chatMessage.sender.nickname}} says: {{chatMessage.message}}
  </h4>
</div>
<div *ngIf="!chatClient">
  <div style="background: paleturquoise">
    <p>chat works YaaaY!</p>

    <label>
      Enter Nickname:
      <input type="text" [formControl]="nickNameFC">
    </label>
    <h5> nickname:{{nickNameFC.value | json}}</h5>

    <button (click)="sendNickname()">Send Nickname</button>

  </div>
</div>

<div *ngIf="clients$ | async as clients">
<ul>
  <li *ngFor="let client of clients">
    {{client.nickname}}
  </li>
</ul>
</div>

