<div fxLayout="row" fxFlex *ngIf="chatClient" style="padding: 20px; background: paleturquoise" fxLayoutGap="10px">
  <div fxLayout="column" fxFlex="20">
    <mat-card fxFlex>
      <mat-card-header>
        <h5 class="headers">Users Online</h5>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div *ngIf="clients$ | async as clients">
          <ul class="online">
            <li *ngFor="let client of clients">
              {{client.nickname}}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="80" style="background: paleturquoise">
    <mat-card fxFlex fxLayout="column">
      <mat-card-header>
        <h5 mat-line class="headers">Hello, <span style="color: pink"> {{chatClient.nickname}} </span> ! </h5>
      </mat-card-header>
      <mat-card-content fxFlex fxLayout="column">
        <mat-list fxFlex class="chat-scroll">
          <mat-list-item *ngFor="let chatMessage of messages">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line class="pinkify">{{chatMessage.sender?.nickname}}</div>
            <div mat-line>{{chatMessage.message}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <mat-form-field fxFlex>
          <mat-label>Message</mat-label>
          <input matInput type="text"  [formControl]="messageFC">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-actions>
      <mat-card-footer fxFlex="30px" style="padding-left:30px">
        <span *ngIf="clientsTyping.length > 0"
              class="primary-text-color"
            style="font-size:15px">
          <span *ngFor="let clients of clientsTyping; let i = index">
                  {{clients.nickname}}
            <span *ngIf="clientsTyping.length - 1 > i">
              ,
            </span>
          </span>
          is typing ...
        </span>
      </mat-card-footer>
    </mat-card>
    </div>
  </div>


<!-- If not a user, enter Nickname -->
<div fxLayout="row" fxFlex fxLayoutAlign="center center" style="background: paleturquoise" *ngIf="!chatClient">
    <mat-card fxFlex="30">
      <mat-card-header fxLayoutAlign="center center" >
        <div fxFlex="60">
          <mat-card-title>
            <h5 class="welcome"> Welcome to the Chat! </h5>
          </mat-card-title>
          <br>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field fxFlex>
          <mat-label>Set Nickname</mat-label>
          <input matInput type="text"  [formControl]="nickNameFC">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="sendNickname()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
<!-- Error -->
<div fxLayout="row" fxFlex="10" fxLayoutAlign="center bottom" style="background: paleturquoise" *ngIf="error$ | async as error">
  <mat-card fxFlex="90" class="error">
    <mat-card-footer class="error" fxLayoutAlign="center left">
        {{error}}
    </mat-card-footer>
  </mat-card>
</div>
<!-- Listen for connection -->
<div fxLayout="row" fxFlex="10" fxLayoutAlign="center bottom" style="background: paleturquoise" *ngIf="!socketId">
  <mat-card fxFlex="90" class="error">
    <mat-card-footer class="error" fxLayoutAlign="center left">
      You are not connected!
    </mat-card-footer>
  </mat-card>
</div>
