.chat-scroll {
  overflow: auto;
}

.error {
  color: darkred;
  background: lightcoral;
  font-family: "PT Sans Caption", fantasy;
  font-size: 23px;
}

.headers {
  color: paleturquoise;
  font-size: 20px;
  font-family: "Heiti TC", fantasy ;
}

.online {
  color: lightgreen;
}

.pinkify {
  color: pink;
}

.welcome {
  color: pink;
  font-size: 18px;
  font-family: "Heiti TC", fantasy ;
}
