.content {
    padding: 16px;

}
.cardHeight {
  height: 82vh;
  width: 150vh;
}

.content-scroll {
  overflow: auto;
}

.header {
  color: pink;
  font-size: 25px;
  font-family: "Heiti TC", fantasy;
}

.fields {

}
