<<div style="text-align: center;"><nav>
<br>
    <h1 style="color: silver"> Welcome to CVNaChi ..</h1><h2>
  <div>
  <a style="color: pink" class="nounderline" routerLink="/cvs" routerLinkActive="active">CV</a><br>
    <a style="color: pink" class="nounderline" routerLink="/cvs/create" routerLinkActive="active">Create new CV</a><br>
    <a style="color: pink" class="nounderline" routerLink="/" routerLinkActive="active">Chat</a>

  </div>
    </h2>

</nav>
<router-outlet></router-outlet>
</div>

